[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

numpy = "*"
"e1839a8" = {path = ".", editable = true}


[dev-packages]

pytest-pycodestyle = "*"
"e1839a8" = {path = ".", editable = true}
pytest = "*"


[requires]

python_version = "3.6"
